.closabank {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 70px;
}
.massiveleft {
    height: 100%;
     width: 45%;
     clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
     background-color: #ee7e01;
     position: absolute;
     z-index: 3;
     top: 0;
     left: 0;
}

.leftclosa {
    width: 98%;
    height: 100%;
    background-color: #a4c519;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    padding: 2rem 2rem 2rem 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.closalink {
    color: black;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
    transition: 0.4s;
    width: 118px;
}

.closalink:hover {
    background-color: black;
    color: white;
}

.yourbank {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.closa {
    font-size: 50px;
    color: white;
}

.think {
    font-size: 25px;
}

.onestop {
    line-height: 1.5;
    color: white;
}

@media screen and (max-width: 895px){
    .massiveleft {
        width: 100%;
    }
}